html {
  font-size: 10px;
  font-family: "Instrument Serif", serif;
  background-color: #26291f;
}
h1 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #fef6fe;
  text-shadow: 3px 3px 1px #3a3d31;
}
h2 {
  padding-top: 3%;
  margin: 0;
  font-size: 30px;
  text-indent: 5%;
  line-height: 0.2;
  color: #fef6fe;
}
h3 {
  margin: 0;
  text-align: center;
  padding-bottom: 8%;
  font-size: 80px;
  text-indent: 5%;
  line-height: 0.2;
  color: #fef6fe;
  text-shadow: 3px 3px 1px #3a3d31;
}
p,
li {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: #fef6fe;
}
body {
  width: 600px;
  margin: 60px auto;
  background-color: #5d5f59;
  padding: 20px 60px;
  border: 3px solid #3a3d31;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 60%;
}
a {
  color: #df9fee;
}
a:visited {
  color: #1e2113;
}
